
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutHostel.cshtml";
}
<link rel="stylesheet" href="~/css/lightbox.min.css" type="text/css" />
<script src="~/js/lightbox-plus-jquery.min.js"></script>
<style>
    .gym-home {
        background: linear-gradient(rgba(25, 24, 24, 0.4), rgba(23, 22, 23, 0.5)), url(../../images/gym-header.jpg) no-repeat;
        background-size: cover;
        min-height: 250px;
        background-attachment: fixed;
    }

    .img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
</style>

<div class="gym-home p-5">
    <div class="row p-5">
        <div class="col-12"></div>
    </div>
    <div class="row">
        <div class="col-12 pl-5">
            <h2 class="media-heading pb-0 text-white pt-5 ml-5">Gallery</h2>
        </div>
    </div>
</div>
<div class="team">
    <div class="container">
        <div class="gallery">
            <div class="row text-center text-lg-left mt-5">
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/pWkk7iiCoDM/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/aob0ukAYfuI/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/EUfxH-pze7s/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/M185_qYH8vg/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/sesveuG_rNo/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/AvhMzHwiE_0/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/2gYsZUmockw/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/EMSDtjVHdQ8/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EMSDtjVHdQ8/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/8mUEy0ABdNE/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/8mUEy0ABdNE/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/G9Rfc1qccH4/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/G9Rfc1qccH4/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/aJeH0KcFkuc/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aJeH0KcFkuc/400x300" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" data-lightbox="mygallery" class="img d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>
