@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="innerpage-banner">
    <div class="layer1">
    </div>
</div>

<!-- welcome -->
<section class="welcome py-5">
    <div class="container py-md-3">
        <h3 class="heading text-center mb-md-5 mb-4"> About Us </h3>
        <div class="row welcome-grids">
            <div class="col-lg-6">
                <h4 class="mb-3">welcome to the Adventure Travel Point</h4>
                <h3>Remember that happiness is a way of travel, not a destination.</h3>
                <p class="my-4">Aliquam consequat rhoncus ipsum et hendrerit. Proin sed nibhila rin iaculis, aliquet nunc nec, ornare nulla. Duis maximus faucibus ipsum consectetur. Donec elementum hendrerit arcu id rhoncus initis. lot Suspendisse ut elementum nunc. Aenean aliquam porta sem ins tincidunt congue. Phasellus dictum viverra sem id vehicula. Fus cenec elementum sapien.</p>
                <a href="#">Read More</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 welcome-grid3">
                <div class="position">
                    <img src="~/images/banner1.jpg" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //welcome -->
<!-- welcome bottom -->
<section class="welcome-bottom">
    <div class="welcome-bottom-layer py-5">
        <div class="container py-lg-5 py-sm-3">
            <h4 class="mb-2">Travel doesn't become adventure until you leave yourself behind </h4>
            <p class="mb-4">Find your perfecrt tour</p>
            <a href="@Url.Action("Index","Home")">Read More</a>
        </div>
    </div>
</section>

<!-- //welcome bottom -->
<!-- best offers -->
<section class="best-offers py-5">
    <div class="container py-3">
        <h3 class="heading text-center mb-sm-5 mb-3"> Best Offers </h3>
        <div class="row offer-grids pt-5">
            <div class="col-lg-3 col-sm-6 offer-grid">
                <img src="~/images/b1.jpg" alt="" class="img-fluid" />
                <h4 class="mt-3">Turkey</h4>
                <p class="mt-2">Istanbul, Pamukkale, Bosporus, Izmir - 5 days</p>
                <div class="offer">
                    <h3>30% off </h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-sm-0 mt-5 offer-grid">
                <img src="~/images/b2.jpg" alt="" class="img-fluid" />
                <h4 class="mt-3">Spain</h4>
                <p class="mt-2">Barcelona, Granada, Seville, Madrid - 7 days</p>
                <div class="offer">
                    <h3>30% off</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 offer-grid">
                <img src="~/images/b5.jpg" alt="" class="img-fluid" />
                <h4 class="mt-3">Italy</h4>
                <p class="mt-2">Rome, Florence, Venice, pisa - 4 days</p>
                <div class="offer">
                    <h3>30% off</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-5 offer-grid">
                <img src="~/images/b4.jpg" alt="" class="img-fluid" />
                <h4 class="mt-3">London</h4>
                <p class="mt-2">Tower of london, Big Ben, London Eye - 9 days</p>
                <div class="offer">
                    <h3>30% off</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //best offers -->
